body{
    background-color: #3D087B;
    margin-top: 0px;
}
.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.clock > img{
    margin:10px 16px 15px;
}
.box{
    background-color: white;
    margin-bottom:15px;
    width: 500px;
    height: 325px;
    padding: 10px 20px 0px;
    border-radius: 6px;
}
.items img{
    height: 35px;
}
.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items select{
    color:#3D087BDE;
    border: 0.1px solid gray;
    border-radius: 4px;
    width:300px;
    height: 40px;
    font-size: 13px;
}
.items p{
    font-size: 16px;
    color: #3D087B;
    /*font-weight: bold;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
hr{
    transform: rotate(90deg);
    background-color: gray;
    margin-bottom: 15px;
    margin-top: 15px;
}
.gm{
    background-color: #6a4299;
    font-family: 'Righteous', cursive;
    color: white;
    width: 520px;
    padding: 20px 0px 20px 16px;
    border-radius: 6px;
    margin: 10px 0px;
    font-size: 23px;
    font-weight: bold;
}
.box1{
    display: flex;
}
button{
    color:white;
    width:280px;
    height: 52px;
    margin-right: 10px;
    font-size: 25px;
    word-spacing: 2px;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to right,#6E54EC,#ce51fb,#FC5EFF);
}
button:hover{
    background-image: linear-gradient(to left,#6E54EC,#ce51fb,#FC5EFF);
}
#d2{
    background-color:#6a4299;
    border-radius: 10px;
    color: #F25CFE;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    padding-bottom: 3px;
    width: 240px;
    height: 98px;
    word-spacing:1px;
    line-height: 0.4;
}
.time{
    width: 465px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin-left: 10px;
    
}
.blur1{
    width: 380px;
    background-color:#FFFFFF;
    border-radius: 10px;
    opacity: 0.71;
    height: 80px;
    position: relative;
    z-index: -1;
    top:-148px;
    right: -65px;

    /* position: absolute;
    z-index: -1;
    top:60px;
    right:220px; */
}
.blur{
    width: 350px;
    border-radius: 10px;
    background-color:#8538a6;
    height: 80px;
    position: relative;
    z-index: -2;
    top:-58px;
    right:-80px; 
    /* position: absolute;
    z-index: -2;
    top:70px;
    right:240px;
 */
}
.time p{
   color: #3D087B;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 20px;
   margin: 0px  20px 0px 30px;
   text-align: center;
}
.t1{
    font-size: 32px;
    background-color: #F6E2FF;
    color: #8A11BF;
    margin:15px 10px;
    width:60px;
    height: 75px;
    text-align: center;
}
span{
    font-size: 20px;
    color:#5F0089;
}
.t2{
    background-image: linear-gradient(#ce51fb,#FC5EFF);
    width:50px;
    border-radius:2px;
    width:60px;
    height: 75px;
    margin:15px 10px;
    font-size: 25px;
    color: white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.msgbox{
    font-family: 'Righteous', cursive;
    color:#8E53F0;
    border-radius: 6px;
    background-color: white;
    padding: 8px  ;
    font-size: 12px;
    width:510px;
    /* margin-top:10px;*/
    margin-bottom:10px;  
    text-align: center;
}
footer{
    color: #B85EBF;
    text-align: end;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.left{
    margin:0px 20px;
}
.gap{
    height: 100px;
    margin-bottom: 35px;
}
.mbox{
    font-size: 11px;
}
.pic{
    height: 310px;
    width:515px;
}
/* 
.icon{
    background-color: white;
    border-radius: 6px;
    width:240px;
    height: 80px;
    margin-bottom: 30px;
}
.icon p{
    margin-left: 20px;
    font-size: large;
    color: gray;
}
.c1{
    display: flex;
    justify-content: center;
    align-items:center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.c1 img{
    height: 25px;
}
.lst{
    background-color: white;
    width:220px;
    border-radius: 3px;
    font-size: small;
} */

/* media query */
@media (max-width:450px){
    .body{
        display: block;
    }
    .left{
        margin: 0px;
    }
    .box{
        width:86%;
        height:20%;
    }
    .gm{
        font-size: 18px;
        width: 92%;
        margin-bottom: 15px;
    }
    .items select{
        width:42%;
    }
    .time{
        width:98%;
        margin-left: -1px;
    }
    .t1{
        font-size: 25px;
    }
    .time p{
        margin:1px;
    }
    .blur1{
        width:85%;
        right: -20px;
    }
    .blur{
        width:70%;
        right:-36px; 
    }
    .msgbox{
        margin-bottom: 10px;
        width:94%;
        font-size: 10px;
        padding: 6px;
    }
    .box1{
        flex-direction: column;
    }
    .pic,.pic1{
        width:96%;
        height: 8%;
    }
    button{
        width:95%;
    }
    #d2{
        margin:10px 0px 15px;
        width:92%;
    }
    footer{
        text-align: start;
    }
}